@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Animaciones */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* Estilos adicionales */
.bg-green-gradient {
  background: linear-gradient(to right, #a3e635, #86efac);
}

.bg-blue-gradient {
  background: linear-gradient(to right, #7dd3fc, #38bdf8);
}
.animate-float {
  animation: float 2s infinite ease-in-out;
}
